.nav-item {
  font-size: 18px;

  a {
    color: white;
    &.active:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: white;
      width: 100%;
    }

    // &::after {
    //   content: "";
    //   display: block;
    //   width: 0;
    //   height: 2px;
    //   background: white;
    //   transition: width 0.5s;
    // }
    &:hover::after {
      width: 100%;
    }
  }
}
