.main-image-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.8;
  }

  .sub-title {
    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
    font-weight: 700;
  }
}

.images-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .img-container {
    width: 300px;
    height: 300px;
    position: relative;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      padding: 0 20px 20px;
    }
  }
}
