header {
  background-color: rgba(242, 131, 153, 0.9);
  color: white;

  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 32px;

    ul {
      display: flex;

      li {
        margin-right: 18px;
      }
    }
  }
}
